:root {
  --white-color: #f5efff;
  --grey-color: #e5d9f2;
  --light-accent-color: #cdc1ff;
  --dark-accent-color: #a294f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  height: 50px;
  width: 128px;
  border: none;
  border-radius: 32px;
  background-color: var(--dark-accent-color);
  color: white;
  font-size: larger;
}

ul {
  list-style-type: none;
  font-size: calc(24px + 0.5rem);
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  display: grid;
  height: 100vh;

  grid-template: 1fr 1fr 9fr / 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar nav"
    "sidebar main-content";
}

.icon {
  width: max(32px, 50px);
  height: max(32px, 50px);
}

.circle {
  width: max(32px, 50px);
  height: max(32px, 50px);
  border-radius: 50%;
  background-color: var(--grey-color);
}

.circle-large {
  width: max(50px, 72px);
  height: max(50px, 72px);
  border-radius: 50%;
  background-color: var(--grey-color);
}

.header,
.nav {
  background-color: var(--white-color);
  padding: 0 2rem;
}

.header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  gap: 16px;

  align-items: center;
}

.search-bar {
  width: max(10rem, 1000px);
  height: 4rem;
  background-color: var(--grey-color);
  border-radius: max(16px, 32px);
}

.account-tools {
  display: flex;
  align-items: center;
  gap: 32px;
}

.sidebar {
  grid-area: sidebar;
  color: var(--white-color);
  background-color: var(--dark-accent-color);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.sidebar > *,
.sidebar > div {
  padding-left: 2rem;
}

.sidebar > div {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menu-list > li,
.menu-list-2 > li {
  padding: 0.5rem 0;

  display: flex;
  gap: 32px;
  align-items: center;
}

.nav {
  grid-area: nav;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-group {
  display: flex;
  gap: 32px;
}
.main-content {
  grid-area: main-content;
  height: unset;
  padding: 16px 24px 64px;
  background-color: var(--grey-color);
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-template-areas:
    "project-list announcements"
    "project-list trending";
}

.main-content > * {
  padding: 16px 16px 0 16px;
}

.project-list {
  grid-area: project-list;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-container {
  display: grid;
  flex: 1;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 32px;
}

.card {
  border-left: 16px solid var(--dark-accent-color);
  border-radius: 16px;
  background-color: var(--white-color);
  padding: 32px 32px;

  display: flex;
  flex-direction: column;
}

.card > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-button-group {
  margin-top: auto;
  align-self: flex-end;

  display: flex;
  gap: 24px;
}

.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.announcement-container {
  flex: 1;
  background-color: var(--white-color);
  border-radius: 16px;
  height: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 16px 24px;
  gap: 10px;
}

.announcement-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6px;
}

.announcement-container > * > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.announcement-container > div {
  border-bottom: 1px solid gray;
}

.announcement-container > div:last-child {
  border: 0;
}

.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trending-container {
  flex: 1;
  background-color: var(--white-color);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trending-card {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 32px;
  gap: 16px;
}
